body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}
h1{
    border-left: darkcyan;
    padding-left: 5%;
    border: purple;
}
.header{
    color: rgb(176, 77, 225);
}
.left
p{
    
    text-align:justify;
    text-align: center;
}

.btn {
    
    height: 21px;
    width: 99px;
    border-radius: 10px;
    background-color: rgb(106, 117, 220);
}
  
.btn2{
    height: 37px;
    width: 96px;
    border-radius: 93px;
    background-color:rgb(241, 173, 158);
    text-decoration: none;
}
.page-one{
    margin: 4%;
    
    display: flex;
    justify-content: space-between;
    
}
.photo{
    height: 550px;
     
    }
.plan{
    margin-left: 50%;
}
.cyan{
    color: cyan;
    
}
.half{
    width: 90%;
    
}

.coding{
    margin: 5%;
    height: 400px;
    
}
.limit{ 
    display: flex;
    margin-top: 5%;
 
}
.pera{
    margin-left: 40%;
}
#header2{
    text-align: center;
    margin-top: 10%;

}


.footer{
    
    text-align: center;
    background-color: rgb(234, 9, 9);
    height: 55%;
}

.footer{border-top: 20%;
    text-align: center;
    color: rgb(6, 19, 213);
}

#card{
    justify-content: center;
    display: flex;
     
}
#pic1{
    height: 45%;
}
#card-one{
      display:flex;
     
     justify-content:space-between;
     align-items: center; 

     text-align: center;
    text-justify: auto;
    width: 30%;
    border: rgb(11, 11, 11); 
    margin: 3%;

}
.card-two{
    text-align: center;
    width: 30%;
}
.card-three{
    text-align: center;
    width: 30%;
}